@page
@model MyFruits2.Areas.Fruits.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fruit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fruit.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fruit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fruit.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fruit.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fruit.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fruit.Price)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Fruit?.Id">Edit</a> 
    <a class="btn btn-primary" asp-page="./Index">Retour à la liste</a>
</div>
